.footer {
    @include paddingDesktop;
    padding-top: 5rem;
    padding-bottom: 2rem;

    background: #000;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);

    font-family: $Alata;
    font-size: 1.6rem;

    &__logo {
        width: 16rem;
    }

    &__links {
        grid-column: 1;
        grid-row: 2;
        list-style: none;
        color: #fff;
        display: flex;
        font-size: 1.6rem;
        margin-top: 1.5rem;
        align-items: baseline;
    }

    &__link:not(:last-child) {
        margin-right: 1rem;
    }

    &__social {
        justify-self: end;
        grid-row: 1;
        grid-column: 2;
        & > *:not(:last-child) {
            margin-right: 0.8rem;
        }
    }

    &__copyright {
        color: rgba(255, 255, 255, 0.6);
        grid-column: 2;
        grid-row: 2;
        justify-self: end;
        align-self: self-end;
    }

    @media only screen and (max-width: $bp-tablet) {
        height: 80vh;

        padding: 9rem 0;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        font-size: 2rem;

        justify-items: center;

        &__logo {
            width: 16rem;
        }

        &__links {
            grid-row: 2;
            font-size: 2rem;
        }

        &__social {
            grid-column: 1;
            grid-row: 3;
            justify-self: center;
        }

        &__copyright {
            grid-column: 1;
            grid-row: 4;
            justify-self: center;
        }
    }
}
