@mixin paddingDesktop {
    padding: 0 13.5rem;
}

@mixin paddingMobile {
    padding: 0 1.3rem;
}

@mixin bgMixin($url) {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.9) 2%, transparent), url($url);
    background-repeat: no-repeat;
    background-size: cover;
}

@mixin headingCardPosition {
    font-size: 3.3rem;
    font-family: $JosefinSans;
    font-weight: 300;
    text-transform: uppercase;

    position: absolute;
    left: 3.5rem;
    bottom: 3rem;

    @media only screen and (max-width: $bp-phone) {
        font-size: 3.7rem;
        max-width: 30%;
    }
}
