@tailwind base;
@tailwind components;
@tailwind utilities;

.mainBg {
	background-image: url("./assets/images/mobile/image-hero.jpg");
	background-repeat: no-repeat;
	background-position: top;
}

@media screen and (min-width: 768px) {
	.mainBg {
		background-image: url("./assets/images/desktop/image-hero.jpg");
		background-position: top;
		background-repeat: no-repeat;
		background-size: cover;
	}
}
